.update-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
}

.update-password-form {
    width: 100%;
    max-width: 500px; /* Maximum width for the form */
}
