.update-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #fff;
}

.update-password-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.update-password-form .ant-form-item {
    margin-bottom: 24px;
}

.update-password-form .ant-form-item label {
    font-weight: bold;
}

.updatePasswordButton {
    text-align: center;
}

.updatePasswordButton button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: none;
}

.updatePasswordButton {
    background-color: wheat;
    color: rgb(43, 43, 43);
    border-radius: 4px;
}

.updatePasswordButton:hover {
    background-color: rgb(43, 43, 43) !important;
    color: wheat !important;
    border: none !important;
}

.ant-layout {
    background-color: #fff;
}

.ant-layout-header {
    background: #fff !important;
}