.favori-container {
    padding: 16px;
}

.favori-card {
    width: 100%;
    cursor: auto;
    height: 700px;
}

.price {
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.card-content {
    padding: 16px;
    height: calc(100% - 50px);
    overflow: hidden;
}

.favori-card img {
    border-radius: 4px;
    height: 400px;
}