html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.profile-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.saved-data-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 26px;
    overflow-y: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.profile-form {
    width: 80%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.profile-form .ant-form-item {
    margin-bottom: 16px;
}

.profile-form .ant-form-item label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
}

.profile-form input {
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    transition: border-color 0.3s;
    width: 100%;
}

.profile-form input:focus {
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.profile-form button {
    padding: 0.5em 1em;
    font-size: 1em;
    margin: 0.5em 0;
}

.input-profile-email {
    margin-left: 3.5%;
    width: 60% !important;
}

.input-profile-name {
    margin-left: 3%;
    width: 60% !important;
}

.input-profile-age {
    width: 20% !important;
    margin-left: 6.5%;
}

.input-profile-gender {
    width: 21.5% !important;
    margin-left: 1%;
}

.input-profile-address {
    width: 80%;
    height: 90px;
    margin-left: 0.5%;
}

:where(.css-dev-only-do-not-override-98ntnt).ant-layout-footer{
background-color:#fff;
}

@media (max-width: 768px) {
    .saved-data-container {
        width: 95%;
    }

    h2 {
        font-size: 20px;
    }
}