.skep-container {
    padding: 20px;
    background-color: #fff;
}

.card-container {
    background-color: #f9f9f9;
    padding: 30px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: auto;
    height: 660px;
}

.card-content {
    padding: 16px;
    height: calc(100% - 50px);
    overflow: hidden;
}

.price {
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
}

.card-container img {
    border-radius: 4px;
    height: 400px;
}

.total-price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-price-container {
    width: 400px;
    margin-top: 20px;
    padding: 10px;
    background-color: #000000;
    color: wheat;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 20px;
}

.pay-button {
    font-weight: bold;
    font-size: 1rem;
    border: none;
}

.pay-button:hover {
    background-color: wheat !important;
    color: black !important;
    border: none !important;
}

.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 8px;
}

.quantity {
    font-size: 16px;
    font-weight: bold;
}

.ant-layout-footer.css-dev-only-do-not-override-98ntnt {
    display: none !important;
}