.card-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: auto;
    height: 670px;
    margin: 20px 0;
    transition: transform 0.2s;
}

.card-container:hover {
    transform: translateY(-5px);
}

.card-content {
    padding: 16px;
    height: calc(100% - 50px);
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

.card-content h4 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.ant-card-meta-description {
    height: 65px;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #ff5733;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 10px;
}

.favorite-button {
    background-color: wheat;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.favorite-button:hover {
    background-color: rgb(255, 205, 113) !important;
    color: black !important;
    border: none !important;
}

.basket-button {
    background-color: wheat;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.basket-button:hover {
    background-color: rgb(255, 205, 113) !important;
    color: black !important;
    border: none !important;
}

.review-button {
    background-color: wheat;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s;
    color: darkblue;
}

.review-button:hover {
    background-color: rgb(255, 205, 113) !important;
    color: black !important;
    border: none !important;
}

.card-container img {
    border-radius: 4px;
    height: 440px;
    object-fit: cover;
}

@media screen and (max-width: 1250px) {
    .card-container {
        height: auto;
    }

    .card-container img {
        border-radius: 4px;
        height: 400px;
        object-fit: cover;
    }

    .card-content {
        padding: 10px;
    }

    .price {
        font-size: 14px;
    }

    .button-container {
        flex-direction: column;
        gap: 8px;
    }

    .favorite-button,
    .basket-button {
        width: 100%;
        font-size: 16px;
    }
}