.card-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: auto;
    height: 650px;
    margin: 16px;
}

.card-content {
    padding: 16px;
    height: calc(100% - 50px);
    overflow: hidden;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.favorite-button {
    background-color: #ffcccc;
    border-color: #ffcccc;
}

.basket-button {
    background-color: #cce5ff;
    border-color: #cce5ff;
}

.card-container img {
    border-radius: 4px;
    height: 400px;
    object-fit: cover;
}

.basket-button.in-cart {
    background-color: green;
    color: white;
}

.favorite-button.in-favori {
    background-color: #ff4d4f;
    color: white;
}