.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.navbar-container>.ant-space {
    display: flex;
}

.navbar-container a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.icon {
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
}