.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    padding: 0 20px;
    background-color: black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ant-layout-header {
    background-color: black;
}

.navbar-container>.ant-space {
    display: flex;
}

.navbar-container a {
    color: wheat;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.icon {
    color: wheat;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.category-dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.category-dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #222222;
    width: 100%;
    opacity: 0.8;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.category-dropdown:hover .category-dropdown-content {
    display: block;
    margin-top: -1%;
}

.category-dropdown-content a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-dropdown-content a:hover {
    background-color: black;
    border: 1px solid wheat;
    margin: 0;
}

@media (max-width: 1200px) {
    .navbar-container a {
        margin: 0 10px;
    }
}

@media (max-width: 900px) {
    .navbar-container a {
        margin: 0 5px;
    }
}

@media (max-width: 600px) {
    .navbar-container {
        gap: 10%;
    }

    .space {
        gap: 8%;
    }

    .navbar-container a {
        margin: 0 2px;
        margin-left: -20%;
    }
}