.page-container {
    padding: 16px;
    background-color: #fff;
}

.input {
    width: 80%;
    height: 45px;
    margin: 16px 16px 16px 16px;
    margin-left: 10%;
    box-shadow: 0px 4px 5px wheat;
    border-radius: 20px;
    outline: none;
    border: 1px solid wheat;
}

.products-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.ant-layout-footer {
    background-color: #fff;
}